.main-map {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red !important;
}