.wizard {
    padding: 0;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 80px;
    left: 30%;
    width: calc(100vw - 30% - 100px);
    height: calc(100vh - 150px);

    Button {
        font-size: 9pt;
        padding: 5px 15px;

        &.underlined {
            border-bottom: 3px solid rgb(25, 118, 210) !important;
        }
    }

    table {
        width: 100%;
        background-color: rgb(36, 36, 36) !important;
        border-radius: 25px 25px 0 0;
        padding: 10px 10px;

        td {
            padding: 5px 10px;
            border-radius: 25px 25px 0 0;
        }

        td:nth-child(1) {
            width: 100px;
            text-align: left;
        }

        td:nth-child(2) {
            text-align: left;
        }

        td:nth-child(3) {
            text-align: right;
        }
    }
}