.wizard {
    z-index: 9000;
    position: absolute;
    top: 80px;
    left: calc(100vw - 950px) !important;
    width: 900px !important;
    height: calc(100vh - 150px);
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: absolute;
    font-size: 10pt;
    text-align: left;

    .content {
        padding: 0 20px 0 20px;
    }
}