.table-header-class {
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 11px;
    height: 32px !important;
}

.table-header-class:hover {
    background-color: rgb(24, 24, 24);
}

.selected-row {
    background-color: rgb(25, 118, 210) !important;
}